language: c
compiler:
  - gcc

env:
  global:
   # The next declration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   -   secure: "mb+R6nXCtdPaE9ZAo1bCl/mlr0SempILIjZrVfbmgwhPXJItvctqGX8ciay3RsSEGZHFfqC/1ULtPe1Fed/f/09JX5CCx6d9CQ/f6wo7GE3Sosc0AjNQRCcerBqgd3ONaw4uuXvUVizVyLKepSgbqH6dzmGcIJuuvATTBSSJcb8="
   
addons:
  coverity_scan:
    project:
      name: "EdTice/CoverityTravisScan"
      description: "Your project description here"
    notification_email: etice@coverity.com
    build_command: "make -j4"
    branch_pattern: master

    
script:
  - make -j2   
 # - if [ "${COVERITY_SCAN}" = '1' ]; then eval "$COVERITY_SCAN_BUILD"; else eval "$STANDARD_BUILD_COMMAND"; fi
 #build_script_url
